extends layout 

block content 
  h2 #{category.name}

  p Total Number of Items in Category: #{category_items.length}

  ul
    for item  in category_items
      li.m-l-16
        a(href=item .url) #{item.name} 
        | (#{item.number_in_stock} in stock)