extends layout 

block content 
  h2= title

  ul 
    each item in item_list 
      li 
        div.item-list-item
          a(href=item.url) #{item.name}
          p.m-l-16 Price: $#{item.price}
          p.m-l-16 Number in Stock: #{item.number_in_stock}
