extends layout 

block content 
  h2= title

  form(method='POST')
    div.form-group
      label(for="name") #[strong Name: ]
      input#name(type="text" name='name' required placeholder='Name of item' value=(undefined===item ? '' : item.name))
    div.form-group
      label(for="description") #[strong Description: ]
      textarea#description(type="text" name='description' required placeholder='Description of item')=(undefined===item ? '' : item.description)
    div.form-group
      label #[strong Categories:]
      div.m-l-16.checkboxes
        for category in all_categories 
          div.checkbox
            if category.checked
              input(type="checkbox" name='category' id=category._id value=category._id checked)
            else 
              input(type="checkbox" name='category' id=category._id value=category._id)
            label(for=category._id) &nbsp;#{category.name} 
    div.form-group
      label(for="price") #[strong Price: ]
      input#price(type="number" name='price' min=0 required value=(undefined===item ? 0 : item.price))
    div.form-group
      label(for="numberInStock") #[strong Number in Stock: ]
      input#numberInStock(type="number" min=0 name='number_in_stock' required value=(undefined===item ? 0: item.number_in_stock))

    button.btn-submit(type='submit') Submit
  
  if errors 
    ul.errors
      for error in errors 
        li!= error.msg