extends layout 

block content 
  h2= item.name 


  p #[strong Description:] #{item.description}
  p #[strong Price:] $#{item.price}
  p #[strong Number in Stock:] #{item.number_in_stock}
  p #[strong Categories:] 
    each category, index in item.category 
      a(href=category.url) #{category.name}
      if index < item.category.length - 1
        |,&nbsp;
  hr
  a(href=`${item.url}/update`) Update Item 
  a(href=`${item.url}/delete`) Delete Item 